@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  background-color: #312a3a;
  color: white;
  font-family: "Outfit", sans-serif;
}
.game-container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;
  width: 300px;
}

.cell {
  height: 100px;
  /* background-color: #f0f0f0; */
  background-color: #7131f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  
}

.cell:hover {
  opacity: 0.8;
}

.message {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #5405f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #9e67f9;
}
